.featuresContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/static/homeBackground.jpg");
    background-size: cover;
    padding: 0 0 5rem;
}

.featuresHeading {
    padding: 3rem 0 2rem;
    font-size: 2.5rem;
}

.featuresHeading span {
    background: #ff5c33;
    color: #ffffff;
    display: inline-block;
    padding: 0.8rem 4rem 1rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.featuresCard {
    padding: 3rem;
    background-image: url("/static/toolsCard.png");
    width: 27rem;
    outline: 0.1rem solid #ffffff;
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.featuresCard:hover {
    outline: 0.2rem solid #ffffff;
    outline-offset: 0rem;
}

.featureImage {
    width: 90%;
    margin: 1rem 0;
    height: 15rem;
}

.featureTitle {
    font-size: 2rem;
    line-height: 1.8;
    color: #ffffff;
}

.featureDescription {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ffffff;
    padding: 1rem 0;
}

.modelsButtons {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0 -0.5rem;
    width: 50%;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff5c33;
    }
}
