.resetContainer {
    height: 100vh;
    /* background-image: url("/static/.jpg"); */
    background-size: cover;
}

.resetCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 2.5rem 4rem;
    width: 100%;
    max-width: 50rem;
    margin: auto;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resetHeading {
    font-size: 2.5rem;
}

.resetForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resetButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resetButton {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff5c33;
    }
}

.resetInput {
    font-size: 1.3rem;
    font-weight: 600;
}

.resetLabels {
    font-size: 1.3rem;
    font-weight: 600;
    background: #ffffff;
}

.anchorsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchors {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.successModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    border-radius: 1.2rem;
}

.successTitle {
    color: #ff5c33;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.successMessage {
    color: #ff5c33;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.successAction {
    width: 25%;
}

.successButton {
    margin: 0 0 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff5c33;
    }
}

.errorModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 45rem;
    border-radius: 1.2rem;
}

.errorTitle {
    color: #ff1744;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.errorMessage {
    color: #ff1744;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.errorAction {
    width: 25%;
}

.errorButton {
    margin: 0 0 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff1744;
    }
}
