.footerContainer {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 12rem 3rem 3rem;
    background-image: url("/static/navbar.png");
    background-size: cover;
}

.socialHeading,
.contactsHeading,
.navigateHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.1rem;
    color: #ffffff;
}

.logos {
    width: 2.1rem;
    margin: 0 0.5rem;
    font-size: 3.1rem;
}

.description {
    padding: 0.8rem 0;
    font-size: 1.4rem;
    color: #ffffff;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0.5rem 0 0;
}

.socialDetail {
    padding: 0.3rem;
    color: #ffffff;
}

.socialDetail:hover {
    color: #ff5c33;
}

.socialIcon {
    font-size: 3.4rem;
}

.contactDetail,
.navigationLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    padding: 0.84rem 0;
    font-size: 1.4rem;
}

.contactIcons,
.navigatelink {
    margin: 0 0.7rem 0 0;
    font-size: 1.6rem;
}

.link {
    color: #ffffff;
}
