.homeIntroContainer {
    height: 100vh;
    background-image: url("/1.jpg");
    background-size: cover;
}

.modelSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videosModelCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}