.activationCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 45rem;
    margin: auto;
    background-color: #ffffff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activationHeading {
    margin: 1rem;
    font-size: 2.5rem;
}
