.navigation {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    background-image: url("/static/navbar.png");
    background-size: cover;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2.1rem;
    color: #ffffff;
}

.logo {
    width: 5rem;
}

.actions {
    display: flex;
    gap: 2.4rem;
}

.buttons {
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem;
    background-color: #000000;
    transition: all 0.3s ease-in;

    &:hover {
        color: #ffffff;
        background-color: #ff5c33;
    }
}
