.predictionCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 1.5rem);
}

.predictionButtonsActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 5rem);
}

.predictionButtonCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 100%;
    max-width: 30rem;
    background-color: #ffffff;
}

.predictButton {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 2.2rem 1.8rem;
    width: 75%;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff5c33;
    }
}

.reportTableCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 15rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 100%;
    max-width: 70rem;
    background-color: #ffffff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 9rem);
}

.reportTableHeading {
    padding-top: 2rem;
    font-size: 1.8rem;
}

.reportTableHeading span {
    background: #000000;
    color: #fff;
    display: inline-block;
    padding: 0.8rem 4rem 1rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.reportTable {
    width: 85%;
    border-radius: 1rem;
    border-collapse: separate;
    margin: 2rem 0 5rem;
}

.reportHeading {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
    border: 0.1rem solid #dddddd;
    background-color: #f2f2f2;
}

.tableCells {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 0.8rem;
    border: 0.1rem solid #dddddd;
    background-color: #ffffff;
}

.reportDownloadButton {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 3rem;
    width: 20%;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff5c33;
    }
}

.errorModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.errorTitle {
    color: #ff1744;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.errorMessage {
    color: #ff1744;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.errorAction {
    width: 40%;
}

.errorButton {
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff1744;
    }
}
