@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

*,
    *: :before, *: :after {
    box-sizing: border-box;
    outline: none;
    border: none;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    background-image: url("/static/pattern.png");
}
